@import url('https://fonts.googleapis.com/css?family=Andika&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&subset=cyrillic,cyrillic-ext');
:root {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}
#bg {
    min-height: 100%;
    top: 0;
    height: auto;
    background: url(../images/bg.jpg) 50% 50% / 100% 100% no-repeat fixed;
    position: relative;
    padding: 0;
    margin: 0;
}    
main {
    max-width: 980px;
    margin: auto;
}
header {
    margin: 0;
    padding: 0;
}
.menu_top {
    text-decoration: none;
}
.menu_top h1 {
    font-family: 'Andika', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: #388929;
    background-color: #fff;
    padding: 27px;
    text-decoration: none;
}
.menu {
    width: 100%;
}
.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #388929;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.menu ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.menu ul li:hover {
    background: #084200
} 
.menu ul li a {
    color: #9BF490;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.toggle {
    width: 100%;
    padding: 7px 30px;
    background: #fff;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #388929;
    font-size: 30px;
    display: none;
}
.slider .sl_popular {
    
    padding-bottom: 1px;
    padding-top: 0px;
    font-size: 2rem;
    font-family: 'Andika', sans-serif;
    color: #388929;
}
.left_aside {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding-top: 50px; 

}
.la_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    font-family: 'Andika', sans-serif;
    font-size: 1.5rem;
    color: #388929;
}
.left_aside {
    margin: 0;
    padding-top: 50px;;
}
.la_title {
    background-color: #fff;
    font-family: 'Andika', sans-serif;
    font-size: 1.5rem;
    color: #388929;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.la_categories {
    display: block;
    background-color: #fff;
}
.la_link {
    margin: auto;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #388929;
}
.la_link:hover{
    color: #fff;
    background-color: #388929;
}
.right_aside {
    margin-top: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.ra_title {
    margin: 10px;
    font-family: 'Andika', sans-serif;
    font-size: 2rem;
    color: #fff;
}
.allEntries{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.game {
    padding: 10px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
}  
.imagetext {
    padding-bottom: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.link-td-none{
    margin: 10px;
    font-family: 'Andika', sans-serif;
    font-size: 1.2rem;
    color: #388929;
    display: block;
    text-decoration: none;
}
.m-img{
    margin: 10px;
    padding: 0;
    width: 50%;
    display: block;
}
.m-desc{
    margin: 10px;
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #388929;
}
.m-desc1{
    margin: 10px;
    padding: 0;
}
.m-desc1 button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.m-desc1 .mata {
    text-decoration: none;
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #388929;
}
.button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
}
.button-more{
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #388929;
    text-align: center;
}
form{
    margin: 10px;
    padding: 10px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form h2{
    margin: 10px;
    font-family: 'Andika', sans-serif;
    font-size: 2rem;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
}
form #name{
    background-color: #8CE390;
    margin: auto;
    padding: 10px;
    width: 400px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form #email{
    background-color: #8CE390;
    margin: auto;
    padding: 10px;
    width: 400px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form #text{
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 150px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form .send{
    margin: auto;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
}
form .send-button{
    margin: auto;
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
    color: #388929;
    text-align: center;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
footer{
    width: 100%;
    height: 350px;
    background-color: #fff;
    display: block;
}
footer .menu_top h1{
    font-family: 'Andika', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    color: #388929;
    background-color: #fff;
    padding: 0;
    text-decoration: none;
    text-align: center;
}
footer p{
    margin: 10px;
    padding: 20px;
    font-family: 'Andika', sans-serif;
    font-size: 1.2rem;
    color: #388929;
    display: block;
    text-decoration: none;
    text-align: center;
}
footer h2{
    margin: 10px;
    font-family: 'Andika', sans-serif;
    font-size: 1.5rem;
    color: #388929;
    display: block;
    text-decoration: none;
    text-align: center;
}
.socials ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.socials-ul{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.socials-ul-li{
    list-style: none;
    text-decoration: none;
}
.soc-img{
    padding: 0;
    margin: 0;
    width: 100px;
}
@media(max-width: 768px) {
    .toggle {
         display: block;    
    }
    .menu ul {
    width: 100%;
    }
    .menu ul li {
        display: block;
        text-align: center;
    }
    a.menu_top{
       text-decoration: none; 
    }
    .menu_top h1 {
    font-family: 'Andika', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: #388929;
    background-color: #fff;
    padding: 27px;
    text-decoration: none;
    }
}
@media(max-width: 768px) {    
    .left_aside {
        margin: 0;
        padding-top: 50px; 
    }
    .la_title {
        background-color: #fff;
        font-family: 'Andika', sans-serif;
        font-size: 1.5rem;
        color: #388929;
    }
    .la_categories {
        display: block;
        background-color: #fff;
    }
    .la_link {
        margin: auto;
        padding: 10px;
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: 'Andika', sans-serif;
        font-size: 1rem;
        color: #388929;
    }
    .la_link:hover{
        color: #fff;
        background-color: #388929;
    }
}
@media(max-width: 768px) { 
    .right_aside {
        margin-top: 60px;
    }
    .ra_title {
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 2rem;
        color: #fff;
    }
    .allEntries{
        padding: 0;
        margin: 0;
    }
    .game{
        width: 100%;
    }
    .imagetext{
        padding-bottom: 20px;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .link-td-none{
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 1.2rem;
        color: #388929;
        display: block;
        text-decoration: none;
    }
    .m-img{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }
    .m-desc{
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 1rem;
        color: #388929;
    }
    .m-desc1{
        margin: 10px;
        padding: 0;
    }
    .m-desc1 button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .m-desc1 .mata{
        
        text-decoration: none;
        font-family: 'Andika', sans-serif;
        font-size: 1rem;
        color: #388929;
    }
    .button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .button-more{
        font-family: 'Andika', sans-serif;
        font-size: 1rem;
        color: #388929;
        text-align: center;
    }
}    
@media(max-width: 768px) {     
    #news{
        margin-top: 60px;
    }
    form{
        margin: 10px;
        padding: 10px;
        display: block;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    form h2{
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 1.5rem;
        color: #fff;
        display: block;
        text-decoration: none;
        text-align: center;
    }
    form #name{
        width: -webkit-fill-available;
        background-color: #8CE390;
        margin: auto;
        padding: 10px;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    form #email{
        width: -webkit-fill-available;
        background-color: #8CE390;
        margin: auto;
        padding: 10px;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    form #text{
        width: -webkit-fill-available;
        margin: auto;
        padding: 10px;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    form .send{
        margin: auto;
        display: block;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px;
    }
    form .send-button{
        margin: auto;
        font-family: 'Andika', sans-serif;
        font-size: 1rem;
        color: #388929;
        text-align: center;
        display: block;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media(max-width: 768px) { 
    footer{
        width: 100%;
        height: 350px;
        background-color: #fff;
    }
    footer .menu_top h1{
    font-family: 'Andika', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #388929;
    background-color: #fff;
    padding: 0;
    text-decoration: none;
    }
    footer p{
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 1.2rem;
        color: #388929;
        display: block;
        text-decoration: none;
    }
    footer h2{
        margin: 10px;
        font-family: 'Andika', sans-serif;
        font-size: 1.5rem;
        color: #388929;
        display: block;
        text-decoration: none;
        text-align: center;
    }
    .socials ul li{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .socials-ul{
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }
    .socials-ul-li{
        list-style: none;
        text-decoration: none;
    }
    .soc-img{
        display: block;
        padding: 0;
        margin: auto;
        width: 70%;
    }
}
.active {
    display: block;
}